body{
    font-family: 'Roboto', sans-serif;
    background-color: #6d597a;
}

/* navbar css starts here  */
.bg-light{
    background-color: #eef1ef!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #365883!important;
}

.nav-link{
    color: #7523df!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #c5d121;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(184, 206, 133)!important;
    color: rgb(143, 70, 211)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(249, 246, 252)!important;
}